:root {

  //Collors
  --primary-text-color: #4e4e4e;
  --secundary-text-color: #ffffff;
  --third-text-color: #fa6425;
  --fourth-text-color: #afafaf;
  
  --color-link: #ffffff;

  --title-color-1: #e32d7f;
  --title-color-2: #eeeeee;
  --title-color-3: #61960f;
  --title-color-5: #fa6425;
  --title-color-6: #263a6d;

  --bg-color-1: #263a6d;
  --bg-color-2: #edeff1;
  --bg-color-3: #f5f5f5;
  --bg-color-4: #ffffff;
  --bg-color-5: #e32d7f;

  --border-color: #fa6425;

  --button-bg-color-1: #475a8b;
  --button-bg-color-2: #707070;
  --button-bg-color-3: #afafaf;
  --button-bg-color-4: #61960f;
  --button-bg-color-5: #475a8bc0;
  --button-bg-color-6: #e32d7f;

  --button-bg-color-hover-1: #fa6425;
  --button-bg-color-hover-2: #0a66c2;
  --button-bg-color-hover-3: #e32d7f;
  --button-bg-color-hover-4: #ea4335;
  --button-bg-color-hover-5: #1d9bf0;
  --button-bg-color-hover-6: #61960f;
  --button-bg-color-hover-7: #afafaf;
  --button-bg-color-hover-8: #263a6d;

  //Fonts Sizes
  --fontsize-default: 1rem;
  --font-size-1: .8rem;
  --font-size-2: 1.4rem;
  --font-size-3: 1.6rem;
  --font-size-4: 1.8rem;
  --font-size-5: 2rem;

  --font-size-link: 1.2rem;
  





}